<h1>Welcome to Bank of CA</h1>

<ul>
<% if user_signed_in? %>
  <li>
  <p>Logged in as: <%= current_user.email %></p></li>
  <li><%= link_to('Go to Details', client_path)  %>     </li>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %>    </li>
  
  
<% else %>
  <li>
  <%= link_to('Login', client_path)  %>  
  </li>
<% end %>
</ul>
<!-- <%= link_to("Login", client_path) %> -->



  
    